<form (ngSubmit)="onButtonClicked()">
  <div>
    <label for="city">
      City:
    </label>
    <input  id="city" name="city" type="text" [(ngModel)]="city"/>
  </div>
  <div>
    <label for="country">
      Country:
    </label>
    <input  id="country" name="country" type="text" [(ngModel)]="country"/>
  </div>
  <div>
    <label for="description">
      Item Description:
    </label>
    <input  id="description" name="description" type="text" [(ngModel)]="description"/>
  </div>
  <div>
    <label for="targets">
      Tourist Targets:
    </label>
    <input  id="targets" name="targets" type="text" [(ngModel)]="targets"/>
  </div>
  <div>
    <label for="cost">
      Cost:
    </label>
    <input  id="cost" name="cost" type="text" [(ngModel)]="cost"/>
  </div>
  <button type="submit">{{buttonText}}</button>
</form>

